<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Styling/stylesheet.css" />
    <title>Graduation</title>
</head>
<body class="body1">
    <nav>
        <div class="container">
                <img src="../Styling/Images/graduationCap.jpg" alt="logo" />
        </div>
        <div class="burger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
            <ul class="nav-links">
                <li><a class="nav-link" href="/delete">Delete My Account</a></li>
                <li><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
    </nav>

    <div style='color:whitesmoke;text-align: center;margin-top: 30px;'>
        <h1 style='font-size: 4rem;'> Hello <%= name %> </h1>
        <h2 style='font-size: 2rem;'> Graduation Status: <%= status %> </h2>
    </div>

    <form class='grad-form' method="POST">
        <div style="color: black;font-family: Arial, Helvetica, sans-serif;font-size: 1.5rem;margin-top: 3rem;padding: 10px;">
            <h2>Select Status:</h2><br />
            <input type="radio" name="status" value="E" />Approve Graduation<br />
            <input type="radio" name="status" value="C" />Cancel Graduation<br />
        </div>

        <input type="submit" value="Select Status" class="reg-button" id="activate"/>
    </form>
</body>
<script src="/JavaScript/burger.js" defer></script>
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
</html>