<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Styling/stylesheet.css" />
    <title>Graduation</title>
</head>
<body class="body1">
    <header>
        <div class="container">
            <a href="/">
                <img src="../Styling/Images/graduationCap.jpg" alt="logo" />
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <h1> Hello <%= name %> </h1>

    <div class='grad-buttons'>
        <input type="submit" value="Apply for Graduation" class="activate" id="activate" name='E'/>
        <input type="submit" value="Cancel Gaduation" class="deactivate" id="deactivate" name='C'/>
    </div>
</body>
</html>