<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../Styling/stylesheet.css" />
		<title>Home</title>
	</head>

	<body class="body1">
		<nav>
			<div class="container">
				<a href="/">
					<img src="../Styling/Images/graduationCap.jpg" alt="logo" />
				</a>
			</div>
			<div class="burger">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
				<ul class="nav-links">
					<li><a class="nav-link" href="/">Home</a></li>
					<li><a class="nav-link" href="register">Register</a></li>
					<li><a class="nav-link" href="login">Sign In</a></li>
				</ul>
		</nav>

		<div class="div-text">
			<p class="text">
				Graduation Form
			</p>
		</div>
	</body>
	<script src="/JavaScript/burger.js" defer></script>
</html>
