<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../Styling/stylesheet.css" />
		<title>Registration</title>
	</head>

	<body class="body1">
		<header>
			<div class="container">
				<a href="/">
					<img src="../Styling/Images/graduationCap.jpg" alt="logo" />
				</a>
			</div>
			<nav>
				<ul class="nav-links">
					<li><a class="nav-link" href="/">Home</a></li>
					<li><a class="nav-link" href="register">Register</a></li>
					<li><a class="nav-link" href="login">Sign In</a></li>
				</ul>
			</nav>
		</header>

		<form method="POST" action="/register">
			<div class="form-app">
				<h1>Register</h1>

				<label for='firstName'>First Name:</label>
				<input type="text" id='firstName' class="form-text" placeholder="Enter First Name" name="first" required/><br />
				
				<label for='lastName'>Last Name:</label>
				<input type="text" id='lastName' class="form-text" placeholder="Enter Last Name" name="last" required/><br />
				
				<label for='middleName'>Middle Name:</label>
				<input type="text" id='middleName' class="form-text" placeholder="Enter Middle Name" name="middle"/><br />
				
				<label for='username'>Username:</label>
				<input type="text" id='username' class="form-text" placeholder="Enter Username" name="username" required/><br />
				
				<label for='password'>Password:</label>
				<input type="password" id='password' class="form-text" minlength="8" placeholder="Enter Password" name="password" required/><br />

				<label for='email'>Email:</label>
				<input type="email" id='email' class="form-text" placeholder="Enter Email" name="email" required/><br />
				
				Gender:<br />
				<input type="radio" class="form-text" name="gender" value="M" required/>Male<br />
				<input type="radio" class="form-text" name="gender" value="F" required/>Female<br />
				<input type="radio" class="form-text" name="gender" value="O" required/>Other<br />
				
				<label for='date'>DOB:</label> 
				<input type="date" id='date' class="form-text" name="dob" required /><br />
				<input type="submit" value="Register" class="reg-button" id="button1" />
				<input type="Reset" class="reset-button" id="button2" /><br />
				<p id="end-text">
					Already have an account? <a href="login" class='clickLink'>Sign in</a>
				</p>
			</div>
		</form>
		
	</body>
</html>
