<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../Styling/stylesheet.css" />
		<title>Home</title>
	</head>

	<body class="body1">
		<header>
			<div class="container">
				<a href="/">
					<img src="../Styling/Images/graduationCap.jpg" alt="logo" />
				</a>
			</div>
			<nav>
				<ul class="nav-links">
					<li><a class="nav-link" href="/">Home</a></li>
					<li><a class="nav-link" href="register">Register</a></li>
					<li><a class="nav-link" href="login">Sign In</a></li>
					<li><a class="nav-link" href="contact">Contact</a></li>
				</ul>
			</nav>
		</header>
		<% if(message.length > 0) {%>
			<div class='alert-success'>
				<%=message %>
			</div>
		<% }%>
	</body>
	
</html>
