* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

form h1{
	text-transform: uppercase;
	text-align: center;
}

.div-text,
.mail-form {
	background-color: rgba(0, 255, 255, 0.562);
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 25px;
}

.text {
	font-style: italic;
	font-size: 50px;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px;
}

header {
	display: flex;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	align-items: center;
}

.container img {
	width: 50px;
	height: 50px;
}

.container {
	flex: 1;
}

/* Background Image */
.body1 {
	background-image: url(../Styling/Images/students.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.nav-links {
	padding: 2px;
	display: flex;
	list-style: none;
}

.nav-link {
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 100;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-link:hover{
	color:greenyellow;
}

.mail-form {
	font-size: 25px;
	color: black;
	border: 10px solid pink;
}

/* Registration Form */
.form-app {
	color: black;
	padding: 10px;
	background-color: rgba(0, 255, 255, 0.562);
	font-size: 20px;
	font-family: Arial;
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 30px;
/*	text-align: center;*/
}

.form-text {
	margin: 5px;
}

#end-text{
	margin-top: 20px;
}
/* Flash Message */
.alert-success{
	background-color: rgb(174, 255, 174);
	color: green;
	font-size: 25px;
	text-align: center;
	margin: 20px;
	border-radius: 10px;
}

.alert-error{
	background-color: rgb(255, 174, 174);
	color: red;
	font-size: 25px;
	text-align: center;
	margin: 10px;
	border-radius: 10px;
}

.reg-button{
	border-radius: 20px;
	font-size: 16px;
	padding: 10px;
	margin-top: 15px;
	color: white;
	background-color: rgba(0, 0, 205, 0.7);
	border: none;
	outline:none;
	cursor: pointer;
}

.reset-button{
	border-radius: 20px;
	font-size: 16px;
	padding: 10px;
	margin-top: 15px;
	color: white;
	background-color: rgba(255, 69, 0, 0.7);
	border: none;
	outline:none;
	cursor: pointer;
}

.clickLink{
	text-decoration:none;
	color: rgb(192, 80, 80);
}
/*
.grad-buttons{
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.activate, .deactivate{
	padding: 50px;
	cursor: pointer;
	font-size: 20px;
	border: none;
	outline:none;
	border-radius: 10px;
	margin: 20px;
	margin-top: 100px;
	opacity: 0.9;
}

.activate{
	background-color: #173F5F;
	color:white;
}

.deactivate{
	background-color:#20639B;
	color:white;

}

.activate:hover, .deactivate:hover{
	transition: all .5s ease-out;
	transform:scale(1.1);
}
*/