* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.div-text,
.mail-form {
	background-color: rgba(0, 255, 255, 0.562);
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.text {
	font-style: italic;
	font-size: 50px;
	color: white;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px;
}

header {
	display: flex;
	padding: 5px;
	background-color: rgba(0, 0, 0);
	align-items: center;
}

.container img {
	width: 50px;
	height: 50px;
}

.container {
	flex: 1;
}

.body1 {
	background-image: url(../Styling/Images/students.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.nav-links {
	padding: 2px;
	display: flex;
	list-style: none;
}

.nav-link {
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 100;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.mail-form {
	font-size: 25px;
	color: black;
	border: 10px solid pink;
}

.form-app {
	color: black;
	padding: 5px;
	background-color: white;
	font-size: 20px;
	font-family: Arial;
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
	border: solid 2px black;
}

.form-text {
	margin: 5px;
	align-items: center;
}

#end-text{
	margin-top: 20px;
}