* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

form h1{
	text-transform: uppercase;
	text-align: center;
}

.div-text,
.mail-form {
	background-color: rgba(0, 255, 255, 0.562);
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 25px;
}

.text {
	font-style: italic;
	font-size: 50px;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px;
}

nav {
	display: flex;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.8);
	align-items: center;
}

.container img {
	width: 50px;
	height: 50px;
}

.container {
	flex: 1;
}

.burger{
	position: absolute;
	top: 1rem;
	right: 1rem;
	display:none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;
	cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
	transition: all 0.3s ease;
    background-color: white;
	margin: 5px;
}

/* Background Image */
.body1 {
	background-image: url(../Styling/Images/students.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.nav-links {
	padding: 2px;
	display: flex;
	list-style: none;
}

.nav-links li{
	text-align: center;
}

.nav-link {
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 100;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	display:block;
}

.nav-link:hover{
	color:greenyellow;
}

.mail-form {
	font-size: 25px;
	color: black;
	border: 10px solid pink;
}

/* Registration Form */
.form-app {
	color: black;
	padding: 10px;
	background-color: rgba(0, 255, 255, 0.562);
	font-size: 20px;
	font-family: Arial;
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 30px;
}

.form-text {
	margin: 5px;
}

#end-text{
	margin-top: 20px;
}
/* Flash Message */
.alert-success{
	background-color: rgb(174, 255, 174);
	color: green;
	font-size: 25px;
	text-align: center;
	margin: 20px;
	border-radius: 10px;
}

.alert-error{
	background-color: rgb(255, 174, 174);
	color: red;
	font-size: 25px;
	text-align: center;
	margin: 10px;
	border-radius: 10px;
}

.reg-button{
	border-radius: 20px;
	font-size: 16px;
	padding: 10px;
	margin-top: 15px;
	color: white;
	background-color: rgba(0, 0, 205, 0.7);
	border: none;
	outline:none;
	cursor: pointer;
}

.reset-button{
	border-radius: 20px;
	font-size: 16px;
	padding: 10px;
	margin-top: 15px;
	color: white;
	background-color: rgba(255, 69, 0, 0.7);
	border: none;
	outline:none;
	cursor: pointer;
}

.clickLink{
	text-decoration:none;
	color: rgb(192, 80, 80);
}

@media (max-width: 688px) {
	body{
		overflow-x: hidden;
	}

	.nav-links{ 
		flex-direction:column;
		display:flex;
		align-items: center;
		width: 100%;
		position: absolute;
		height: 30vh;
        top: 9vh;
		background-color: rgba(0, 0, 0, 0.8);
 		transform: translateX(100%);
        transition: transform 0.5s ease-in; 
	}

	.nav-links li{
		padding: 20px;
		opacity: 0;
	}

	.burger{
		display: block
	}	
}

.grad-form{
	background-color: rgba(245, 245, 245, 0.336);
	text-align:center;
	height: 30vh;
	max-width: 60%;
	left: 50%;

}

.nav-active{
    transform: translateX(-4.5%);
	width: 100vh;
}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px);
    }
}

.toggle .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .bar2 {
    opacity: 0;
}

.toggle .bar3 {
    transform: rotate(+45deg) translate(-6px, -6px);
}